@font-face {
    font-family: JosefinSans;
    font-weight: 300;
    src: url('fonts/JosefinSans-Light.ttf');
}
@font-face {
    font-family: JosefinSans;
    font-weight: 500;
    src: url('fonts/JosefinSans-Regular.ttf');
}
@font-face {
    font-family: JosefinSans;
    font-weight: 700;
    src: url('fonts/JosefinSans-SemiBold.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    background: #DB9F9E url("images/pinkMist.png") repeat;
    background-size: cover;
    font-family: "Quicksand", serif;
    font-size: 20px;
    color: #666;
}

/* This makes selection-text pink. */
::selection         { color: #fff; background-color: #DB9F9E; }
::-moz-selection    { color: #fff; background-color: #DB9F9E; }
::-webkit-selection { color: #fff; background-color: #DB9F9E; }
/* This is the scrollbar css. It only works in webkit browsers. */
::-webkit-scrollbar { background: none; }
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.5);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px;
    padding-top: 0px;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

#userMenu, #loginMenu, .menuButton, .systemMessage, #handle, #embed, 
.message, .inlineimage, .spoiler, .detail, #popupNotification {

    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.5);
    overflow: hidden;

}

*:focus {
    outline: 0;
}

#progressBar {
    width: calc( 100% - 40px );
    display: none;
    height: 3px;
    background-color: #65A4B2;
    margin-top: -3px;
    margin-left: 20px;
}

#messages {
    height: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
}


#menuButtons {
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 1;
}
.menuButton {
    margin-top: 0px;
    margin-right: 10px;
    border: 0px;
    text-align: center;
    padding: 5px;
    color: #666;
    font-family: "Quicksand", serif;
    font-size: 20px;
    transition: box-shadow .25s;
    cursor: pointer;
}
.menuButton:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.5);
}
#userMenu, #loginMenu {
    display: none;
    position: fixed;
    top: 35px;
    right: 20px;
    margin: 10px;
    z-index: 0;
    padding: 10px;
}
#loginMenu {
    display: block;
    height: 405px;
    width: 300px;
    position: fixed;
    right: 50%;
    top: 50%;
    margin-right: -150px;
    margin-top: -200px;
}
#loginMenu input {
    display: inline;
    margin-bottom: 10px;
    border: 0px;
    background-color: #fafafa;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
    font-family: "Quicksand", serif; 
    font-size: 20px;
    width: 147px;
    color: #666;
    padding: 5px;
    transition: box-shadow .25s;
}
#loginMenu .incorrect {
    box-shadow: 0px 1px 3px rgba(200, 0, 0, 0.7) inset;
}
#loginMenu button {
    cursor: pointer;
    height: 30px;
    width: 300px;
    border: 0px;
    margin-bottom: 20px;

    font-family: "Quicksand", serif;
    font-size: 15px;
    color: #666;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.5);
    background-color: #fafafa;
    transition: box-shadow .25s;
}
#loginMenu button:hover {
    box-shadow: 0px 1px 5px rgba(0,0,0, 0.5);
}

#loginMenu hr {
    width: 25%;
    line-height: 0;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
#loginMenu hr:after {
    content: "or";
    background-color: #fff;
    color: #aaa;
}
#newUserNameSanitized {
    font-size: 15px;
    color: #aaa;
    vertical-align: middle;
    display: inline-block;
    width: 147px;
    height: 20px;
    overflow: hidden;
}

#userList {
    float: right;   
    text-align: center;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#notifications {
    position: fixed;
    top: 100px;
    right: 30px;
    width: 225px;
    background: none;
}
.notificationIcon {
    background-image: url("images/iconOrange.png");
    background-size: 25px;
    height: 25px;
    width: 25px;
    float: left;
}
@keyframes systemMessage {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}
.systemMessage {
    animation-name: systemMessage;
    animation-duration: 2s;
    opacity: 0;
    padding: 10px;
    text-align: right;
    color: #666;
    word-wrap: break-word;
    margin-top: 10px;
}

#popupNotification {
    position: fixed;
    width: 300px;
    padding: 10px;
    top: calc(50% - 40px);
    left: calc(50% - 170px);
    text-align: center;
}

#handle {
    position: fixed !important;
    margin: 20px;
    padding-top: 3px;
    top: calc(100% - 222px);
    left: calc(100% - 350px);
}
#handlebar {
    font-size: 12px;
    height: 12px;
    width: calc(100% - 50px);
    margin: auto;
    padding: 5px;
    background-color: #fff;
    border-bottom: 1px #aaa solid;
    padding-bottom: 10px;
    cursor: all-scroll;
    text-align: center;
}
#inputbox {
    font-family: "Quicksand", serif;
    font-size: 18px;
    height: calc(100% - 28px);
    width: 300px;
    height: 160px;
    padding: 10px;
    background-color: #fff;
    color: #666;
    border: none;
}

#urlHandlebar {
    padding-top: 5px;
    height: 20px;
    color: #666;
    text-align: center;
    font-size: 15px;
    cursor: all-scroll;
}
#urlClose {
    font-family: WebSymbols;
    font-size: 13px;
    color: #666;
    cursor: pointer;
    transition: text-shadow .25s, color .25s;
    position: absolute;
    right: 5px;
    top: 3px;
}
#urlClose:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #666;
}
#embed {
    position: fixed !important;
    display: none;
    top: 60px;
    right: 40px;
    width: 400px;
    height: 400px;
    resize: both;
    overflow: auto;
}
iframe {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
}

#title {
    color: #666;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    padding-left: 5px;
}

.message {
    padding: 10px 20px;
    padding-top: 7px;
    max-width: 800px;
    width: calc(100% - 400px);
    margin: 10px 20px;
    line-height: 1.4em;
}

.userName {
    color: #a7a7a7;
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.alertMe, .direct {
    background-color: #e0e0e0;
}

.postId, .postLink, .direction {
    color: #65A4B2;
    cursor: pointer;
    transition: color .25s, text-shadow .25s;
}
.postId:hover, .postLink:hover, .direction:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #666;
}
.postId, .direction {
    font-size: 16px;
    float: right;
    margin-left: 10px;
}
.postLink {
    padding-right: 5px;
}

.direct {
    color: #999;
}

.me        { color: #DB9F9E; }
.me:before { content: "- " ; }
.me:after  { content: " -" ; }

.inlineimage {
    width: 100px;
    height: 100px;
    border: 10px solid #fff;
    border-radius: 100%;
}

.link {
    color: #DB9F9E;
    text-decoration: none;
    padding: 7px; 
    transition: color .25s, text-shadow .25s;
}
.link:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #666;
}

.youtube {
    font-family: WebSymbols;
    border-radius: 100%;
}

.quote {
    color: #DB9F9E;
}

/*\
|*| Everything below this line is a style class.
|*| - - - - - - - - - - - - - - - - - - - - - - - - - - -
\*/

.spoiler {
    padding: 5px;
    color: #fff;
    transition: color .25s;
}
.spoiler:hover {
    animation-name: spoiler;
    animation-duration: .5s;
    color: #666;
}

.bold {
    font-weight: bold;
}

.ghost {
    color: rgba(0,0,0,0);
    text-shadow: 0px 0px 2px #666;
}

.big {
    font-size: 40px;
}

@keyframes rainbow {
    16% {
        color: #f00;
        text-shadow: 0px 0px 2px rgba(255,0,0,0.5);
    }
    33% {
        color: #ff0;
        text-shadow: 0px 0px 2px rgba(255,255,0,0.5);
    }
    50% {
        color: #0f0;
        text-shadow: 0px 0px 2px rgba(0,255,0,0.5);
    }
    66% {
        color: #0ff;
        text-shadow: 0px 0px 2px rgba(0,255,255,0.5);
    }
    83% {
        color: #00f;
        text-shadow: 0px 0px 2px rgba(0,0,255,0.5);
    }
    100% {
        color: #f0f;
        text-shadow: 0px 0px 2px rgba(255,0,255,0.5);
    }
}
.rainbow {
    animation-name: rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes fascists {
    0% {
        color: #f33;
        text-shadow: 0px 0px 2px rgba(255,0,0,0.7);
    }
    25% {
        color: #fff;
        text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
    }
    50% {
        color: #33f;
        text-shadow: 0px 0px 2px rgba(0,0,255,0.7);
    }
    75% {
        color: #fff;
        text-shadow: 0px 0px 2px rgba(255,255,255,0.7);
    }
    100% {
        color: #f33;
        text-shadow: 0px 0px 2px rgba(255,0,0,0.7);
    }
}
.fascists {
    animation-name: fascists;
    animation-duration: .4s;
    animation-iteration-count: infinite;
}

.italics {
    font-style: italic;
}

/* End of Style Classes */

/*\
|*| Everything below this line is a special message class.
|*| - - - - - - - - - - - - - - - - - - - - - - - - - - -
\*/

.carbonite {
    text-shadow: 0px 1px 1px rgba(0,0,0, 0.5), 
                 0px -1px 0px rgba(255,255,255,0.1);
    color: #666;
    background-color: #666;
    box-shadow:  0px 1px 2px rgba(0,0,0, 0.3) inset,
                 0px 0px 1px rgba(255,255,255,0.5);
}

@keyframes term {
    from { text-shadow: 0px 0px 4px #fff ;}
    to   { text-shadow: 0px 0px 0px #fff ;}
}
.term {
    color:       #fff;
    font-size:   15px;
    font-family: "Eighty", monospace;
    border: 3px inset #333;
    border-radius: 5px;
    background-color: #555;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5),
                0px 0px 90px rgba(0,0,0,1) inset;
    animation:   term .1s infinite;
}
@keyframes afterm {
    from { content: "_" ;}
    to   { content: " " ;}
}
.term:after {
    content: "_";
    animation: afterm 1s infinite;
    animation-direction: alternate;
}

.badOS {
    border: 2px outset #ccc;
    background: linear-gradient(to right, #0a256a, #a4c8ee);
    border-radius: 0px;
    padding: 8px 18px;
    color: white;
    text-shadow: 0px 0px 0px #fff;
    font-family: Arial, sans-serif;
    box-shadow: none;
}

/* End of special message classes. */