doctype html
html
    head
        title= 'Error : ' + error

        link( rel="stylesheet"      href="css/lightChat.css"         )
        link( rel="stylesheet"      href="css/fonts.css"             )
        link( rel="shortcut icon"   href="css/images/iconPurple.png" )

        link( rel="stylesheet"      href="css/views/errorPage.css"   )
    body
        div
            h1="Error!"
            span=error