/* 
    "What the hell is this?" you might ask. 
    Well, you doofus, it's the font.css file. 
    Adding a font to this allows users to use
    a font as a (_FontName when they're creating 
    styles, flairs, or using the parser. 
*/
@font-face {
    font-family: Aileron;
    src: url('fonts/Aileron-Thin.otf');
}
@font-face {
    font-family: Crusoe;
    src: url('fonts/CrusoeText-Regular.ttf');
}
@font-face {
    font-family: Megrim;
    src: url('fonts/Megrim.ttf');
}
@font-face {
    font-family: Quicksand;
    src: url('fonts/Quicksand.ttf');
}
@font-face {
    font-family: RobotoMono;
    src: url('fonts/RobotoMono.ttf');
}
@font-face {
    font-family: RockSalt;
    src: url('fonts/RockSalt.ttf');
}
@font-face {
    font-family: Slabo;
    src: url('fonts/Slabo.ttf');
}
