@font-face {
    font-family: JosefinSans;
    font-weight: 300;
    src: url('fonts/JosefinSans-Light.ttf');
}
@font-face {
    font-family: JosefinSans;
    font-weight: 500;
    src: url('fonts/JosefinSans-Regular.ttf');
}

body {
    background: #779 url("images/purpleMist.png") repeat;
    font-family: "JosefinSans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #f7f7f7;
}

::selection         { color: #fff; background-color: #b53fff; }
::-moz-selection    { color: #fff; background-color: #b53fff; }
::-webkit-selection { color: #fff; background-color: #b53fff; }
/* scrollbar css, only works in chromium */
::-webkit-scrollbar {box-shadow: 1px 3px 10px rgba(0, 0, 10, 0.15) inset;}
::-webkit-scrollbar-thumb{background: rgba(0,0,0,0.2);}

h1 {
    font-weight: 300;
    text-align: center;
    font-size: 70px !important;
}

.detail {
    margin: 20px auto;
    padding: 15px 20px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1) inset, 
                 1px 3px 10px rgba(0, 0, 10, 0.15) inset,
                -1px 1px 2px  rgba(255, 255, 255, .01);
}
.detail:after { /* This is a hack to make float:right; take up space.*/
    content: "";
    clear: both;
    display:table;
}
.title {
    display: inline;
    color: #b53fff;
}
.value {
    float: right;
}
